# Chapter 1 Exercise: Spot the Forbidden Fruit (Template)

Instructions:
- Load the dataset from `datasets/loan_approvals.csv`.
- Compute approval rate by `gender`.
- Visualize (optional) and explain any disparity you see.

In [1]:
import pandas as pd
df = pd.read_csv("../datasets/loan_approvals.csv")
df.head()

   gender  income  loan_approved
0    male   50000              1
1  female   52000              0
2    male   48000              1
3  female   51000              0
4    male   47000              1